<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <title>Sort</title>
</head>
<body>
    <div>
        <div>
            <div>
                <h1>Bestellung</h1>
            </div>
            <div>
                <form>
                    <ul class="list_element">
                        {% for todo in todos %}
                        <li>Pulover: {{todo["12"]["Bestellt"]["Pulover"]}}</li>
                        <li>Tassen: {{todo["12"]["Bestellt"]["Tassen"]}}</li>
                        <li>Öffner: {{todo["12"]["Bestellt"]["Öffner"]}}</li>
                        {% endfor%} 
                    </ul>
                    <div class="padding"></div>
                    <button class="font">Submit</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>