<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Sort</title>
</head>
<body>
    <div>
        <div>
            <div>
                <h1>Bestellung</h1>
            </div>
            <div>
                <form action="">
                    <ul class="list_element">
                        <li>Pulover</li>
                    </ul>
                    <div class="padding"></div>
                    <input class="font" type="text" placeholder="Bestell numer">
                    <div class="padding"></div>
                    <button class="font">Submit</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>